BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
AlignOperands: 'false'
PointerAlignment: Left