# fileIO
pyyaml
h5py==2.10.0
xlrd

# Web
beautifulsoup4
requests
selenium
pyperclip==1.8.0
PyAutoGUI==0.9.50

# GUI dev
pyqt5==5.15.4
qtawesome
pyinstaller==4.0

# Data analysis
numpy==1.19.5
pandas
missingno==0.4.2

# CV
opencv-python==4.2.0.32

# Visualization
matplotlib==3.1.3
pydot
graphviz==0.13.2
Pillow==7.0.0

# Utils
tqdm==4.43.0
pytest==6.2.2
regex